* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow: hidden;
  height: 100%;
}

body {
  overflow: auto;
  height: 100%;
  overscroll-behavior: none;
}

@font-face {
  font-family: "Norse";
  src: url("https://db.onlinewebfonts.com/t/fd1ad3a0f95210975d2f5607501020b5.eot");
  src: url("https://db.onlinewebfonts.com/t/fd1ad3a0f95210975d2f5607501020b5.eot?#iefix")
      format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/fd1ad3a0f95210975d2f5607501020b5.woff2")
      format("woff2"),
    url("https://db.onlinewebfonts.com/t/fd1ad3a0f95210975d2f5607501020b5.woff")
      format("woff"),
    url("https://db.onlinewebfonts.com/t/fd1ad3a0f95210975d2f5607501020b5.ttf")
      format("truetype"),
    url("https://db.onlinewebfonts.com/t/fd1ad3a0f95210975d2f5607501020b5.svg#Norse")
      format("svg");
}

.main-container {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.img-container {
  position: relative;
  width: 28%;
  height: 100%;
}

.img-container > img {
  width: 100%;
  height: 100%;
}

.img-container > .text-block {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;

  width: 100%;
  height: 105px;
  top: 128px;
  background-color: rgba(0, 0, 0, 0.5); /* Black background with 50% opacity */
  color: #ffffff; /* White text color */
}

.text-block > .Odin-Icon {
  height: 90%;
}

.text-block > .Odin-Icon > img {
  height: 100%;
  width: 100%;
}

.text-block > .Odin-Text {
  color: white;
  font-weight: 900;
  font-family: "Norse", system-ui, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  font-size: 4rem;
  height: 90%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.img-container > .photographer {
  width: 100%;
  color: #bbb9b6;
  position: absolute;
  bottom: 10px;
  text-align: center;
  font-size: 0.95rem;
}

.img-container > .photographer > span {
  text-decoration: underline;
}

.secondary-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.text-section,
.button-section {
  width: auto;
  flex: 1;
}

.text-section,
.button-section {
  background-color: #f9fafb;
  padding-left: 30px;
}

.form-section {
  background-color: #ffffff;
  height: 39%;
  padding-left: 30px;
}

.secondary-container > .text-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: bolder;
  font-size: 1.2rem;
}

.form-section {
  font-size: 1.2rem;
  font-weight: bolder;
}

.form-section p {
  margin-bottom: 15px;
  margin-top: 15px;
  color: #2d3643;
}
form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.component-layout {
  display: flex;
  gap: 150px;
  height: 45px;
}

label {
  font-size: 0.7rem;
  color: #37404b;
}

input {
  border: 1px solid #e5e7eb;
  height: 25px;
  border-radius: 4px;
}

input:focus {
  appearance: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border: 3px solid #5277df;
}

input[id~="password"]:invalid,
input[id~="confirm-password"]:invalid {
  border: 1px solid red;
}

.error {
  font-size: 0.6rem;
  font-weight: lighter;
  color: red;
}

input[id~="password"]:invalid + .error::after {
  content: "* Passwords do not match";
  color: red;
}

.message {
  font-size: 1rem;
}

.first-name,
.last-name,
.email,
.phone,
.password,
.confirm-password {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.button-section {
  position: relative;
}

button {
  position: absolute;
  top: 23px;
  background-color: #596d48;
  color: #f9fafb;
  text-align: center;
  width: 175px;
  height: 40px;
  border-radius: 10px;
  border: none;
}

.button-section > p {
  font-size: 0.9rem;
  position: absolute;
  top: 73px;
}

.button-section > p > span {
  color: #596d48;
  font-weight: bold;
}
